name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Install node
      uses: actions/setup-node@v2.5.2
      with:
        node-version: 18
    - name: Build the Docker image
      run: cd server && sh buildd.sh && \
           docker login -u ${{secrets.DOCKER_LOGIN}} -p ${{secrets.DOCKER_PWD}} && \
           docker push am8850/summarizer:dev
    - name: Docker logout
      run: docker logout
           
